/*  ------------ styling for header ------------  */
.header {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    white-space: nowrap;
    min-width: 30vw;
}





/* ------------ styling for main    ------------ */
main {
    display: flex;
    width: 100%;
    margin: auto;

}

/* ------------ styling for aside    ------------*/

aside {
    display: block;
    width: 20%;
    
    align-self: left;
    background-color: lightgrey;
    white-space: nowrap;
    text-decoration: none;
    height: 100vh;
    position: relative;
    float: left;
    min-width: 20vw;
}

ul {
    list-style-type: none;
    text-decoration: none;
    width: 100%;

}

a {
    display: flex;
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: larger;
    margin: auto;
    
    margin-right: 20%;
}
/* ------------ styling for sections    ------------ */
.sectionheader {
    display: flex;
    justify-content: center;

}
section {
    width: 80%;

    
}

/* ------------ styling for find food    ------------ */
.fooditem {
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 20%;
    font-weight: bold;
    font-size: 20px;
}

.filterContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

}

.filteritems {
    display: flex;
    flex-direction: column;



}

/* ------------ styling for see food    ------------ */
#allfooditems {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

#singlefooditem{
    display: flex;
    align-items: center;


}

.deletebtn {
    color: black;
    background-color: red;
    font-weight: bold;

}

/* ------------ styling for the addfood ------------  */
.foodForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;

}
.addbtn {
    display:flex;
    justify-content: center;
    margin-top: 2vh;
}

.button {
    margin: 2%;
}

.newfooditems {
    display: flex;

}