/*   Shep's styling*/

* {
  box-sizing: border-box;
}

body {
  display: block;

}

/* styling for classes */
.welcome {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;  
}

.foodChoice {
  display: flex;
  margin: 10%;
  justify-content: center;

}


.button {
  display: flex;
  
  color: black;
  border-radius: 2%;
  justify-content: center;

}


/* styling for the addfood page */
.foodForm {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
  
  }
#submitbtn {
  align-self: center;

}



/* Built in REact styling   */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
